{% extends 'base.html' %}
{% block content %}
<div class="content-login">
  {{record|markdown(tables=True)}}
  <form class="form-login" method="post">
    {{ form.hidden_tag() }}
    {{ form.apap(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.benzonatate(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.dex(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.diclo(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.docu(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.gaba(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.norco(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.onda(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.oxy(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.tramadol(class_="btn btn-lg btn-primary btn-block") }}
    {{ form.undo(class_="btn btn-lg btn-danger btn-block") }}
    {{ form.download(class_="btn btn-lg btn-info btn-block") }}
  </form>
</div>
{% endblock %}
